<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pr01.Properties.Settings.DNLamConnectionString" connectionString="Data Source=DESKTOP-0Q498P9;Initial Catalog=DNLam;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="pr01.Properties.Settings.DNLamConnectionString1" connectionString="Data Source=DESKTOP-PGVAG2B;Initial Catalog=DNLam;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>